<div class="about">
    <div class="row">
        <div class="columns small-offset-2 small-8 end">
            <div class="slider single-item">
                <div>
                    <img src="../images/about/as%20you%20wish%20about%20page%201.jpg" />
                </div>
                <div>
                    <img src="../images/about/as%20you%20wish%20about%20page%202.jpg" />
                </div>
                <div>
                    <img src="../images/about/as%20you%20wish%20about%20page%203.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="columns small-offset-3 small-6 end">
            <tabset>
                <tab heading="About">
                    <p>AS YOU WISH pdx is here because I started to follow a trail of white feathers.  A dream became a vision and soon gifts of spirit and events of well being unfolded and continue to unfold. I followed the path of white feathers with an open heart and pure faith in the universe.  In the process, I realized that everything I’d ever been through had brought me to this moment.  It all became alive within the walls of AS YOU WISH pdx.</p>
                </tab>
                <tab heading="White Feathers">
                    <p>After being a social service worker for many years and a single parent I was in between life choices again. I had been back in Portland almost 15 years and kept seeing this shop in my neighborhood change hands. It always caught my attention and I had secretly dreamt ever since I was 5 years old of having my own gift shop; but had pushed it out of my consciousness, thinking I could never do something like that. After all, my life had been filled with so many losses and hardships.</p>
                    <p>I’m not sure when it happened but I began to have a shift in consciousness through the practice of prayer and meditation. I began to believe I did have the right to dream. I began to bring this dream into my meditation and the Universe began to show me a vision even bigger than my dream. I asked for signs to help me really begin in believing. A white feather appeared stuck in my pajama top...I don’t have a feather pillow. I couldn’t stop thinking about the possibilities and every time I’d think, ask or pray for a sign I would see a feather. I had to ask for help to have the courage to call the landlord and yes, I was shown a feather.</p>
                    <p>I met the Landlord and talked non stop for over an hour standing in the middle of this run down poorly painted outdoor carpeted 700 square foot space. He was one of the nicest persons I had ever met and I felt like he had his wings hidden under his jacket. He was willing to give me some time to think. I went away with my head spinning with hope and ideas and possibilities, with a tiny bit of savings, a ton of faith, and more feathers appearing in my house, on my walks, in my car. A few days later I was sitting in a 12 step meeting when my caller ID went off...I knew it was time to decide . I asked the Universe for one more sign before I answered the call and a white feather floated through the door of the meeting hall and landed at my feet. In that moment I knew my life would never ever be the same. </p>
                    <p>The transformation began as the beauty unfolded . It was as if a drop of purple ink entered a glass of water never to be the same.</p>
                </tab>
            </tabset>
        </div>
    </div>
</div>
