<div class="row businesses-list">
	<div class="medium-12 large-6 columns">
		<ul>
			<li>
				<div class="panel">
					<h4>Betsy Robinson</h4>
					<h5>Betsy Heart Jewelry</h5>
					<h5>Custom design healing crystal jewelry</h5>
					<a href="http://www.theheartofareikimaster.com" title="www.theheartofareikimaster.com" target="_blank">www.theheartofareikimaster.com</a><br />
					<a href="mailto:betsyjewels@gmail.com">betsyjewels@gmail.com</a><br />
					<span class="connect-field">503 740 0881</span>
				</div>
			</li>
			<li>
				<div class="panel">
					<h4>Betsy Robinson, Reiki Master-Teacher</h4>
					<h5>Individual healing services and workshops</h5>
					<a href="http://www.theheartofareikimaster.com" title="www.theheartofareikimaster.com" target="_blank">www.theheartofareikimaster.com</a><br />
					<a href="mailto:betsyjewels@gmail.com">betsyjewels@gmail.com</a><br />
					<span class="connect-field">503 740 0881</span>
				</div>
			</li>
			<li>
				<div class="panel">
					<h4>Dina Walden</h4>
					<h5>Essential Oil Educator</h5>
					<h5>doTERRA Wellness Advocate #1174126</h5>
					<a href="http://www.mydoterra.com/NaturesGiftOfHealth" title="www.mydoterra.com/NaturesGiftOfHealth" target="_blank">www.mydoterra.com/NaturesGiftOfHealth</a><br />
					<a href="mailto:EssentialOilsWithDina@gmail.com">EssentialOilsWithDina@gmail.com</a><br />
					<span class="connect-field">360 607 7088</span>
				</div>
			</li>
		</ul>
	</div>
	<div class="medium-12 large-6 columns">
		<ul>
			<li>
				<div class="panel">
					<h4>Melinda Montague</h4>
					<h5>Tarot Reading</h5>
					<p>
						Melinda offers quantum readings that fuse practical wisdom with magic solutions, assisting each individual with finding their own alignment with their whole and Highest Beingness. Through the scientific and mystical fusion of the Tarot, answers are brought forth in a unique field of light, upliftment and support; leaving those who experience a reading  feeling those very qualities coming forth and extending out into their personal mandalas, or life experiences.
						<br />
						<span class="show-for-large-up">
							Melinda came to Portland from Hawaii in 2002 to study yoga and Tibetan esoteric practices in an ashram setting.  She has been offering readings since 1997. Her intention for each individual who has a reading with her is that we are indeed living in a friendly Universe! Blessings of personal empowerment and joy come as a bonus each time you have a Quantum reading with Melinda.
							<i class="fa fa-heart-o"></i>
						</span>
						<span class="show-for-medium-down">
							<a ng-show="!showMoreMelinda" ng-click="showMoreMelinda = true">Read more...</a>
							<span ng-show="showMoreMelinda">
								Melinda came to Portland from Hawaii in 2002 to study yoga and Tibetan esoteric practices in an ashram setting.  She has been offering readings since 1997. Her intention for each individual who has a reading with her is that we are indeed living in a friendly Universe! Blessings of personal empowerment and joy come as a bonus each time you have a Quantum reading with Melinda.
								<i class="fa fa-heart-o"></i>
							</span>
							<a ng-show="showMoreMelinda" ng-click="showMoreMelinda = false">...Show less</a>
						</span>
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
