<div class="row businesses-list">
    <ul class="small-block-grid-1 medium-block-grid-2">
        <li>
            <div class="panel">
                <h4>Betsy Robinson, Reiki Master-Teacher</h4>
                <h5>Individual healing services and workshops</h5>
                <a href="http://www.theheartofareikimaster.com" title="theheartofareikimaster.com" target="_blank">theheartofareikimaster.com</a><br />
                <a href="mailto:betsyjewels@gmail.com">betsyjewels@gmail.com</a><br />
                <span class="connect-field">503 740 0881</span>
            </div>
        </li>
        <li>
            <div class="panel">
                <h4>Betsy Robinson, Betsy Heart Jewelry</h4>
                <h5>Custom design healing crystal jewelry</h5>
                <a href="http://www.theheartofareikimaster.com" title="theheartofareikimaster.com" target="_blank">theheartofareikimaster.com</a><br />
                <a href="mailto:betsyjewels@gmail.com">betsyjewels@gmail.com</a><br />
                <span class="connect-field">503 740 0881</span>
            </div>
        </li>
        <li>
            <div class="panel">
                <h4>Dina Walden, Essential Oil Educator</h4>
                <h5>doTERRA Wellness Advocate #1174126</h5>
                <a href="http://www.mydoterra.com/NaturesGiftOfHealth" title="mydoterra.com/NaturesGiftOfHealth" target="_blank">mydoterra.com/NaturesGiftOfHealth</a><br />
                <a href="mailto:EssentialOilsWithDina@gmail.com">EssentialOilsWithDina@gmail.com</a><br />
                <span class="connect-field">360 607 7088</span>
            </div>
        </li>
        <li>
            <div class="panel">
                <h4>Dedrick Sprick, Tarot Card Reader</h4>
                <a href="mailto:dedrick@dedrickinc.com">dedrick@dedrickinc.com</a><br />
                <span class="connect-field">503 724 8535</span>
            </div>
        </li>
        <li>
            <div class="panel">
                <h4>Amy Johnson, Yoga and Meditation Instructor</h4>
                <span class="connect-field">914 584 3553</span>
            </div>
        </li>
        <li>
            <div class="panel">
                <h4>Sprout the Yoga Instructor and Workshop Leader</h4>
                <span class="connect-field">503 233 8048</span>
            </div>
        </li>
        <li>
            <div class="panel">
                <h4>Liz the Psychic Medium and Angel Therapist</h4>
                <span class="connect-field">503 740 0881</span>
            </div>
        </li>
        <li>
            <div class="panel">
                <h4>Danelle Jackson, Reiki Master</h4>
                <span class="connect-field">503 803 7729</span>
            </div>
        </li>
    </ul>
</div>
