<section class="connect-map">
    <div class="row">
        <div class="columns small-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.17725297104!2d-122.60084500000002!3d45.5266385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a11e19ebb681%3A0xc854af897759d90a!2s6063+NE+Glisan+St%2C+Portland%2C+OR+97213!5e0!3m2!1sen!2sus!4v1415596173433" height="450" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
</section>
<section class="connect-details">
    <div class="row" data-equalizer>
        <div class="large-3 medium-6 small-12 columns panel" data-equalizer-watch>
            <h4 class="connect-label">Phone</h4>
            <p class="connect-field">503 740 0881</p>
        </div>
        <div class="large-3 medium-6 small-12 columns panel" data-equalizer-watch>
            <h4 class="connect-label">Email</h4>
            <p class="connect-field"><a href="mailto:asyouwishpdx@gmail.com">asyouwishpdx@gmail.com</a></p>
        </div>
        <div class="large-3 medium-6 small-12 columns panel" data-equalizer-watch>
            <h4 class="connect-label">Address</h4>
            <p class="connect-field">6063 NE Glisan St Portland, Oregon 97213</p>
        </div>
        <div class="large-3 medium-6 small-12 columns panel" data-equalizer-watch>
            <h4 class="connect-label">Hours</h4>
            <p class="connect-field">
                Sunday: By Appointment<br />
                Monday - Tuesday: Closed<br />
                Wednesday-Saturday: 12pm - 6pm
            </p>
        </div>
    </div>
</section>
