<section class="events">
    <div class="row">
        <div class="columns small-offset-3 small-6 end">
            <div class="slider single-item">
                <div>
                    <img src="../images/events/as%20you%20wish%20events%20page%201.jpg" />
                </div>
                <div>
                    <img src="../images/events/as%20you%20wish%20events%20page%202.jpg" />
                </div>
                <div>
                    <img src="../images/events/as%20you%20wish%20events%20page%203.jpg" />
                </div>
                <div>
                    <img src="../images/events/as%20you%20wish%20events%20page%205.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="columns small-offset-1 small-10 end">
            <iframe src="https://www.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23ff6666&amp;src=ah39gk3jajc80n195jg818a798%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="600" height="600" frameborder="0" scrolling="no"></iframe>
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="columns small-offset-3 small-6 end">
            <p>AS YOU WISH pdx is expanding everyday.  Our healers and teachers are ready to enrich your world with their wisdom and healing abilities.  The happenings and events that take place at AS YOU WISH pdx appear to be influenced by spiritual forces of the highest light.  That force is known as love.  Days here at AS YOU WISH pdx are enchanting and captivating.  Lives are changing, moving, and creating more room for love.</p>
        </div>
    </div>
</section>
