<section class="giftshop">
    <div class="row">
        <div class="columns small-offset-2 small-8 end">
            <div class="slider single-item">
                <div>
                    <img src="../images/giftshop/as%20you%20wish%20gift%20shop%20page%201.jpg" />
                </div>
                <div>
                    <img src="../images/giftshop/as%20you%20wish%20gift%20shop%20page%202.jpg" />
                </div>
                <div>
                    <img src="../images/giftshop/as%20you%20wish%20gift%20shop%20page%203.jpg" />
                </div>
                <div>
                    <img src="../images/giftshop/as%20you%20wish%20gift%20shop%20page%204.jpg" />
                </div>
                <div>
                    <img src="../images/giftshop/as%20you%20wish%20gift%20shop%20page%205.jpg" />
                </div>
                <div>
                    <img src="../images/giftshop/as%20you%20wish%20gift%20shop%20page%206.jpg" />
                </div>
                <div>
                    <img src="../images/giftshop/as%20you%20wish%20gift%20shop%20page%207.jpg" />
                </div>
                <div>
                    <img src="../images/giftshop/as%20you%20wish%20gift%20shop%20page%208.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>