<section class="front-page-images">
    <div class="row">
        <div class="columns small-offset-1 small-10 end">
            <ul class="large-block-grid-2">
                <li>
                    <a href="#/about" title="About Us">
                        <img src="../images/home/ASYOUWISH%20artists%20and%20healers.jpg" />
                    </a>
                </li>
                <li>
                    <a href="#/giftshop" title="Giftshop">
                        <img src="../images/home/ASYOUWISH%20gift%20shop.jpg" />
                    </a>
                </li>
                <li>
                    <a href="#/spaces" title="Spaces for Rent">
                        <img src="../images/home/ASYOUWISH%20spaces%20for%20rent.jpg" />
                    </a>
                </li>
                <li>
                    <a href="#/events" title="Calendar of Events">
                        <img src="../images/home/ASYOUWISH%20calendar%20of%20events.jpg" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="main-page-text">
    <div class="row">
        <div class="columns large-3 medium-12">
            <p class="show-for-medium-down"></p>
            <span><i>“As You Wish is a gift of goods and services from kitsch to spiritual, artistic and funky.” -Julie F.</i></span>
        </div>
        <div class="columns large-6 medium-12 end">
            <p class="show-for-medium-down"></p>
            <h3>A place to create connection and potential, most importantly with yourself.</h3>
        </div>
        <div class="columns large-3 medium-12">
            <p class="show-for-medium-down"></p>
            <span><i>“As You Wish is a sacred temple for healing.  It is a blessing within many blessings.  It is my tribe’s home, where we love, heal and grow.”  -Natashia G.</i></span>
        </div>
        <div class="columns large-6 large-offset-3 medium-12 end">
            <p class="show-for-medium-down"></p>
            <p>
                <i>
                    “As You Wish, where you can discover your potential
                    <br />and the path to reach it.”  -Dedrick S.
                </i>
            </p>
        </div>
        <div class="columns large-6 large-offset-3 medium-12 end">
            <a href="#/Connect" title="Connect">Gifts of Serenity & Events of Well being</a>
        </div>
    </div>
</section>
