<div class="home-furnishings">
	<div class="row">
		<div class="columns small-offset-2 small-8 end">
			<div class="slider single-item">
				<div>
					<img src="../images/homeFurnishings/couch1.jpg" />
				</div>
				<div>
					<img src="../images/homeFurnishings/couch2.jpg" />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="columns small-offset-2 small-8 end">
			<p>As You Wish now offers a selection of home furnishings for sale. Please <a href="#/Connect">contact us</a> for details.</p>
		</div>
	</div>
</div>
