<section class="room">
    <div class="row">
        <div class="columns small-offset-2 small-8 end">
            <div class="slider single-item">
                <div>
                    <img src="../images/spaces/as%20you%20wish%20magdalene%201.jpg" />
                </div>
                <div>
                    <img src="../images/spaces/as%20you%20wish%20magdalene%202.jpg" />
                </div>
                <div>
                    <img src="../images/spaces/as%20you%20wish%20magdalene%203.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-page-text">
    <div class="row">
        <div class="columns small-6 small-offset-3 end">
            <tabset class="two-tabs">
                <tab heading="Magdaline Room">
                    <p>The Magdalen Room is located upstairs and has a cozy, quiet, healing feel.  The space is perfect for Massage work or Reiki sessions, also good for individual or private meetings.</p>
                </tab>
                <tab heading="Reservations">
                    <p>To reserve the Magdaline Room, please call <span class="connect-field">503 740-0881</span> or email <a href="mailto:asyouwishpdx@gmail.com">asyouwishpdx@gmail.com</a></p>
                    <p><a onclick="window.open('PDF/As You Wish sub-lease contract agreement.pdf', '_blank')">Click here</a> for the contract to sub-lease a space.</p>
                </tab>
            </tabset>
        </div>
    </div>
</section>
