<section class="spaces">
	<div class="row">
		<div class="columns small-offset-2 small-8 end">
			<div class="slider single-item">
				<div>
					<a href="#/DelphinRoom">
						<img src="../images/rentalSpace/as%20you%20wish%20Delphin%20room%201.jpg" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="columns small-offset-1 small-10 end room-details">
			<h4>
				<a href="#/DelphinRoom">
					<span class="room-label">Delphin Room</span>
				</a>
			</h4>
			<p><strong>Dimensions: 378 sq ft, 27' x 14'</strong></p>
			<p><strong>Pricing: $20 per hour</strong></p>
		</div>
	</div>
</section>
<section class="main-page-text">
	<div class="row">
		<div class="columns small-6 small-offset-3 end">
			<tabset class="two-tabs">
				<tab heading="About">
					<p>As You Wish is a 1920’s house with a 1950’s shop attached. On the main floor of the house, the Delphin Room is available for group events such as meditation, art groups, drum circles, readings and presentations.</p>
				</tab>
				<tab heading="Reservations">
					<p>To reserve space at AS YOU WISH, please call <span class="connect-field">503 740-0881</span> or email <a href="mailto:asyouwishpdx@gmail.com">asyouwishpdx@gmail.com</a></p>
					<p><a onclick="window.open('PDF/As You Wish sub-lease contract agreement.pdf', '_blank')">Click here</a> for the contract to sub-lease a space.</p>
				</tab>
			</tabset>
		</div>
	</div>
</section>
