<section class="spaces">
    <div class="row">
        <div class="columns small-offset-1 small-10 end">
            <ul class="photo-grid">
                <li>
                    <a href="#/WhiteFeather">
                        <figure>
                            <img src="../images/spaces/as%20you%20wish%20white%20feather%20room%201.jpg" />
                            <figcaption>
                                <p><strong>300 sq ft, 20' x 15'</strong></p>
                                <p><strong>$45 for 5 hours</strong></p>
                            </figcaption>
                        </figure>
                    </a>
                    <a href="#/WhiteFeather"><span class="room-label">White Feather Room</span></a>
                </li>
                <li>
                    <a href="#/JoanofArc">
                        <figure>
                            <img src="../images/spaces/as%20you%20wish%20joan%20of%20arc%201.jpg" />
                            <figcaption>
                                <p><strong>145 sq ft, 14.5' x 10'</strong></p>
                                <p><strong>$45 for 5 hours</strong></p>
                            </figcaption>
                        </figure>
                    </a>
                    <a href="#/JoanofArc">
                        <span class="room-label">Joan of Arc Room</span>
                    </a>
                </li>
                <li>
                    <a href="#/Magdaline">
                        <figure>
                            <img src="../images/spaces/as%20you%20wish%20magdalene%201.jpg" />
                            <figcaption>
                                <p><strong>147 sq ft, 14' x 10.5'</strong></p>
                                <p><strong>$45 for 5 hours</strong></p>
                            </figcaption>
                        </figure>
                    </a>
                    <a href="#/Magdaline">
                        <span class="room-label">Magdalene Room</span>
                    </a>
                </li>
                <li>
                    <a href="#/BoucherRoom">
                        <figure>
                            <img src="../images/spaces/as%20you%20wish%20boucher%20room%201.jpg" />
                            <figcaption>
                                <p><strong>138 sq ft, 12.5' x 11'</strong></p>
                                <p><strong>$45 for 5 hours</strong></p>
                            </figcaption>
                        </figure>
                    </a>
                    <a href="#/BoucherRoom">
                        <span class="room-label">Boucher Room</span>
                    </a>
                </li>
                <li>
                    <a href="#/DelphinRoom">
                        <figure>
                            <img src="../images/spaces/as%20you%20wish%20Delphin%20room%201.jpg" />
                            <figcaption>
                                <p><strong>378 sq ft, 27' x 14'</strong></p>
                                <p><strong>$45 for 5 hours</strong></p>
                            </figcaption>
                        </figure>
                    </a>
                    <a href="#/DelphinRoom">
                        <span class="room-label">Delphin Room</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="main-page-text">
    <div class="row">
        <div class="columns small-6 small-offset-3 end">
            <tabset class="two-tabs">
                <tab heading="About">
                    <p>As You Wish is a 1920’s house that has a 1950’s shop attached to it. Upstairs, within the house are the Magdalene and Joan of Arc rooms, two private practice rooms available for Counseling, Psychic Readings, Reiki, Massage or other events. On the main floor of the house, the Delphin Room (Living Room) and Boucher Room (Dining Room) are available for group events such as Meditation, art groups, drum circles, readings and presentations.  The gift shop contains an event space, the White Feather Room, available outside the gift shop business hours or as needed depending on the venue.  The house can even accommodate larger events like weddings, baby and bridal showers.  Spaces at As You Wish are available for individual room or multiple room rental.</p>
                </tab>
                <tab heading="Reservations">
                    <p>To reserve a space at AS YOU WISH, please call <span class="connect-field">503 740-0881</span> or email <a href="mailto:asyouwishpdx@gmail.com">asyouwishpdx@gmail.com</a></p>
                    <p><a onclick="window.open('PDF/As You Wish sub-lease contract agreement.pdf', '_blank')">Click here</a> for the contract to sub-lease a space.</p>
                </tab>
            </tabset>
        </div>
    </div>
</section>
