<section class="room">
    <div class="row">
        <div class="columns small-offset-2 small-8 end">
            <div class="slider single-item">
                <div>
                    <img src="../images/spaces/as%20you%20wish%20white%20feather%20room%201.jpg" />
                </div>
                <div>
                    <img src="../images/spaces/as%20you%20wish%20white%20feather%20room%202.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-page-text">
    <div class="row">
        <div class="columns small-6 small-offset-3 end">
            <tabset class="two-tabs">
                <tab heading="White Feather Room">
                    <p>The White Feather Room is located inside the Gift Shop where AS YOU WISH all started.  Created by a vision and community, it has the feel of peace and serenity, like you’re getting a big hug when you walk in the door.  It is the best to utilize this space outside of business hours, however depending on the venue, it may be available during business hours.  It’s a great spot for healing practitioners or artists who wish to interact with the community.  You can host a group of 15 seated and up to 25 standing. Folding chairs available on site.</p>
                </tab>
                <tab heading="Reservations">
                    <p>To reserve the White Feather Room, please call <span class="connect-field">503 740-0881</span> or email <a href="mailto:asyouwishpdx@gmail.com">asyouwishpdx@gmail.com</a></p>
                    <p><a onclick="window.open('PDFAs You Wish sub-lease contract agreement.pdf', '_blank')">Click here</a> for the contract to sub-lease a space.</p>
                </tab>
            </tabset>
        </div>
    </div>
</section>
